
<div class="dicriptioncontainer">

    <div class="dicriptionnavbar">
        <h2>My Projects</h2>
        {{>nav}}
    </div>

    <div class="discription">

        <div class="">
         <img src="/images/{{imgName}}.png" alt="">
        </div>
        <div class="">
            <h1>Title of the Project: {{imgName}}</h1>
            <a href="/projects/{{imgName}}/index.html">{{imgName}}</a>
            <p>Description: {{ projdescr }}</p>
        </div>


    </div>

</div>
